<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <!-- Required Meta Tags -->
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <!-- Personal Stylesheet -->
      <link
        rel="stylesheet"
        href="{{url_for('static', filename='style.css')}}"
      />
      <link rel="shortcut icon" href="{{url_for('static', filename='logo_4.ico')}}" class="rel">
      <!-- Misc CDNs -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>

      <!-- Bootstrap & Tailwind CSS -->
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
      />

      <link
        rel="shortcut icon"
        type="image/x-icon"
        href="../../img/favicon.ico"
      />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
        rel="stylesheet"
      />

      <script src="https://cdn.tailwindcss.com"></script>
      <style>
        html {
          scroll-behavior: smooth;
        }
      </style>
      <title>{% block title %} {% endblock %}</title>
    </head>

    <body>
      <header
        class="w-full hidden md:block shadow sticky top-0 left-0 z-[100] bg-white"
      >
      {% if not logged_in %}
        <nav
          class="flex container mx-auto px-4 group relative shrink-0 flex-wrap items-center justify-between bg-white py-4"
        >
          <div>
            <img class="h-9" src="../static/logo_4.png" />
          </div>
          <div
            class="hidden items-center justify-between gap-12 text-black md:flex"
          >
            <a
              class="text-sm font-medium text-purple-700"
              href="{{url_for('index')}}"
              >Homie</a
            >
            <a
              class="text-sm font-medium text-grey-900 hover:text-purple-700"
              href="{{url_for('calorie_tracker')}}"
              >Calorie Tracker</a
            >
            <a
              class="text-sm font-medium text-grey-900 hover:text-purple-700"
              href="plan.html"
              >Report Generation</a
            >
            <a
              class="text-sm font-medium text-grey-900 hover:text-purple-700"
              href="{{ url_for('bmi') }}"
              >Calculator</a
            >
          </div>
          <div class="hidden items-center gap-8 md:flex">
            <button
              class="flex items-center text-sm font-medium text-black"
              onclick=" window.location.href = '/login' ; "
            >
              Log In
            </button>
            <button
              class="flex items-center rounded-xl bg-purple-100 px-6 py-3 text-sm font-medium text-purple-700 transition hover:bg-opacity-80 focus:bg-opacity-70"
              onclick=" window.location.href = '/register' ; "
            >
              Sign Up
            </button>
          </div>
        </nav>
      {% else %}
        <nav
        class="flex container mx-auto px-4 group relative shrink-0 flex-wrap items-center justify-between bg-white py-4"
      >
        <div>
          <img class="h-9" src="../static/logo_4.png" />
        </div>
        <div
          class="hidden items-center justify-between gap-12 text-black md:flex"
        >
          <a
            class="text-sm font-medium text-purple-700"
            href="{{url_for('index')}}"
            >Home</a
          >
          <a
            class="text-sm font-medium text-grey-900 hover:text-purple-700"
            href="{{url_for('calorie_tracker')}}"
            >Calorie Tracker</a
          >
          <a
            class="text-sm font-medium text-grey-900 hover:text-purple-700"
            href="plan.html"
            >Report Generation</a
          >
          <a
            class="text-sm font-medium text-grey-900 hover:text-purple-700"
            href="{{ url_for('bmi') }}"
            >Calculator</a
          >
        </div>
        <div class="hidden items-center gap-8 md:flex">
          
          <button
            class="flex items-center rounded-xl bg-purple-100 px-6 py-3 text-sm font-medium text-purple-700 transition hover:bg-opacity-80 focus:bg-opacity-70"
            onclick=" window.location.href = '/logout' ; "
          >
            Log Out
          </button>
        </div>
      </nav>
      {% endif %}
      </header>

      <header
        class="md:hidden w-full fixed z-10 bottom-0 left-0 bg-purple-400 px-4"
      >
        <ul
          class="relative w-full max-w-md mx-auto h-full flex justify-between items-center gap-4 py-2 text-white"
        >
          <li class="bg-purple-100 p-2 rounded-full text-purple-700">
            <a href="{{url_for('index')}}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-home"
              >
                <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                <polyline points="9 22 9 12 15 12 15 22" />
              </svg>
            </a>
          </li>

          <li>
            <a href="{{url_for('calorie_tracker')}}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-salad"
              >
                <path d="M7 21h10" />
                <path d="M12 21a9 9 0 0 0 9-9H3a9 9 0 0 0 9 9Z" />
                <path
                  d="M11.38 12a2.4 2.4 0 0 1-.4-4.77 2.4 2.4 0 0 1 3.2-2.77 2.4 2.4 0 0 1 3.47-.63 2.4 2.4 0 0 1 3.37 3.37 2.4 2.4 0 0 1-1.1 3.7 2.51 2.51 0 0 1 .03 1.1"
                />
                <path d="m13 12 4-4" />
                <path d="M10.9 7.25A3.99 3.99 0 0 0 4 10c0 .73.2 1.41.54 2" />
              </svg>
            </a>
          </li>

          <li class="">
            <a href="plan.html">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-heart-pulse"
              >
                <path
                  d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"
                />
                <path d="M3.22 12H9.5l.5-1 2 4.5 2-7 1.5 3.5h5.27" />
              </svg>
            </a>
          </li>

          <li>
            <a href="pricing.html">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-gem"
              >
                <path d="M6 3h12l4 6-10 13L2 9Z" />
                <path d="M11 3 8 9l4 13 4-13-3-6" />
                <path d="M2 9h20" />
              </svg>
            </a>
          </li>

          <li>
            <a href="{{ url_for('bmi') }}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-calculator"
              >
                <rect width="16" height="20" x="4" y="2" rx="2" />
                <line x1="8" x2="16" y1="6" y2="6" />
                <line x1="16" x2="16" y1="14" y2="18" />
                <path d="M16 10h.01" />
                <path d="M12 10h.01" />
                <path d="M8 10h.01" />
                <path d="M12 14h.01" />
                <path d="M8 14h.01" />
                <path d="M12 18h.01" />
                <path d="M8 18h.01" />
              </svg>
            </a>
          </li>
        </ul>
      </header>
      
      <div>
      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>

      {% endfor %}
      </div>
      <div class="flex justify-center items-center">
        
        <div class="my-4">
        {% block content %} {% endblock %}
        </div>
      </div>

      <footer class="pb-14 mt-5 border-t">
        <div class="container mx-auto flex flex-col">
          <div class="my-10 flex w-full flex-col items-center">
            <div class="mb-10 shrink-0">
              <img class="h-9" src="../static/logo_4.png" />
            </div>
            <div class="flex items-center">
              <p
                class="text-center text-sm font-medium leading-7 text-dark-grey-600"
              >
                ©
                <script>
                  document.write(new Date().getFullYear() + ",");
                </script>
                BeFit. All rights reserved.
              </p>
            </div>
          </div>
        </div>
      </footer>

      <!-- 'JS Script' -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
      <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
      ></script>
      <script src="assets/js/main.js"></script>
    </body>
  </html>
</html>
